#version=RHEL8
# Use cli install
# cmdline
graphical

%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='jp'
# System language
lang en_US.UTF-8

# Network information
network --hostname={{.Hostname}}.localdomain

# Run the Setup Agent on first boot
firstboot --enable

autopart
clearpart --all --initlabel

# System timezone
timezone Asia/Tokyo --isUtc

# Root password
rootpw --iscrypted $6$SVncdWCfkZ7d/NGs$X0mAFsJ73u.wk6VH7btyQwshbMlddFI4OBOrWJzB/iQewHoMra8t0TpnYxK08oEyBYfSt1HrrQ.9Sa9wks0Ls/

user --groups=wheel --name=manager --password=$6$FRAOMLHjNJUir2XH$.zVEBPwIMW/Drjs.wPXkXUPTQJmQ75e13EoXh5TBcLLCsGa.kU8QEKl/cBkW6E451mz.Eqau94CDVIrYHKkaK/ --iscrypted --gecos="manager"
sshkey --username=manager 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCVmvNecDkyqXtlKfRuhJe70kJ4yDSLt8anI2nwX0bdVxbjp0/pvaG62K51T2VCeDn/EMleuxyJhVxwqmkddWFoDPK/pIK26Rm48RlRVmzw/y96rxWg7uZAOJBMwfykudmr1iOo4LuVnqW3ajMCy1NjAibuzpgiYpOkw6DCrcy4wty8pUFadQrewd16HOjxo/YMy/iNEmjvskxXMGIRYjtvNIQHAdC/7MwNa25tEaRFQHlg1veVXTFK2nEAKvwvEQYO1AvGFAtHJFiOnuAY67p7IVk5SiXL77eimGByEvcqkfEEpf0R3TyCOZBepyy80dP72VHXDpMRyWU3GOq1clI8wmlUqPC2Rd4KzhztJz2BdD/OYgSANpjzdEwLaV3l7TUYkg+wapcNnZOISlibC4/oraX3X4n0ud7Xyx9T1teFkMO8M7g+tu/b1vumA2nSNpuY8rTq1M4b2PUKVEqeuxOo739pDl3UqdhPAz7cU0cVJ5E/KcLY1RjXuy/nLN/CDR8= manager@controller'

eula --agreed
reboot --eject

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post --nochroot
hostnamectl set-hostname {{.Hostname}}.localdomain
hostnamectl --pretty set-hostname {{.Hostname}}.localdomain
cp /etc/hostname /mnt/sysimage/etc/hostname
cp /etc/machine-info /mnt/sysimage/etc/machine-info
echo -e "ipv4: \4\nnodename: \\\n" > /mnt/sysimage/etc/issue
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
