127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for hostname in hostvars %}
{% if hostname == 'pbs_master1' %}
{{ hostvars[hostname]['ansible_default_ipv4']['address'] }} {{ pbs_server_name }}
{% else %}
{{ hostvars[hostname]['ansible_default_ipv4']['address'] }} {{ hostvars[hostname]['pbs_hostname'] }}
{% endif %}
{% endfor %}
