# This file includes **non-idempotent** commands to configure the PBS server.
# Idempotent is a term used to describe a command that can be run
# multiple times without changing the state of the system.
# 
# See idempotent_pbs_command.j2 for more information.
